ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border: 7px solid black;
  } 
li {
    float: left;
    border-right: 1px solid white;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
li a:hover {
    background-color: #111;
  }

body{
    background-image: url(loudly-crying-face.png);
}
.goodlife{
    height: 35%;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
}